modules = ["python-3.11"]

[nix]
channel = "stable-25_05"
packages = ["cargo", "cosmic-comp", "libiconv", "libxcrypt", "openssl", "pkg-config", "postgresql", "python312Packages.cleanlab", "rustc"]

[deployment]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "gunicorn --bind 0.0.0.0:5000 --reuse-port main:app"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn --bind 0.0.0.0:5000 --reuse-port --reload main:app"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[agent]
integrations = ["flask_stripe==1.0.0"]

[objectStorage]
defaultBucketID = "replit-objstore-ccfca435-f8c8-41b2-b3b6-4d21a219d6c5"
