modules = ["python-3.11"]

[nix]
channel = "stable-25_05"
packages = ["openssl", "postgresql"]

[deployment]
deploymentTarget = "static"
publicDir = "https://2790078d-75f7-4d6a-9c1c-cb917364ec58-00-edr84ukt8k8y.picard.replit.dev/"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn --bind 0.0.0.0:5000 --reuse-port --reload main:app"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80
